[req]
default_bits = 4096
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = TZ
ST = Dar es Salaam
L = Dar es Salaam
O = NDC
OU = IT
CN = 95.111.255.86

[v3_req]
subjectAltName = @alt_names
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
IP.1 = 95.111.255.86
